body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 124, 202);
}
.main{
    background-color: white !important;
    height: auto !important;
    width: 60%;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;

    
}
.heading{
    text-align: center;
    padding-bottom: 20px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(29, 124, 202);
    
}
.main2{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    
}
#inp{
    border: 1px solid black;
}
#add{
    font-size: 5ch;
    padding-left: 10px;
    cursor: pointer;
}
#add:hover{
    color: rgb(18, 113, 190) !important;
}
#ul {
    padding: 0;
}

.divClass{
    display: flex;
    gap: 10px;
    font-size: larger !important;
}

.list{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: rgba(220, 220, 220, 0.452);
    border-radius: 5px;
    list-style-type: circle !important;
}
.list:hover{
    background-color: rgba(220, 220, 220, 0.699);
}
.liTextDiv {
    word-wrap: break-word;
}

.liTextDiv p {
    word-break: break-all;
    margin-bottom: 0;
}
.edit{
    padding-right: 20px;
}
.edit:hover{
    color: rgba(0, 128, 0, 0.753);
    cursor: pointer;
    transform: scale(0.9) !important;
    transition: 0.5s;
}
.deleted:hover{
    color: red;
    cursor: pointer;
    transform: scale(0.9) !important;
    transition: 0.5s;
    
}
#clear{
    background-color: rgb(29, 124, 202);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}  
#clear:hover{
    background-color: rgb(18, 113, 190) ;
}